* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* start navigation style */
main {
    position: relative;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
    height: 65vh;
}


nav {
    background-color: rgb(0, 0, 0, 0.5);
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

nav .logo {
    display: flex;
    margin-top: 10px;
    align-self: flex-start;
}

nav .logo h2 {
    color: white;
    margin: 15px 0px 0px 8px;
    font-size: 1.5rem;
}

nav .logo img {
    width: 65px;
    margin-top: 1px;
}

nav .links {
    color: white;
    display: flex;
}

nav .links li {
    margin-top: 25px;
    font-size: 1.5rem;
    list-style-type: none;
    margin-left: 5px;
    margin-left: 30px;
}

/* end navigation style */


/* start welcome section */

#welcome-section {
    height: 70%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

#welcome-section .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: 1000px;
}

#welcome-section h2 {
    font-size: 80px;
}

#welcome-section #start-now {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #01A3F1;
    width: 150px;
    height: 40px;
    font-size: 22px;
    border-radius: 20px;
}

/* end welcome section */


/* start contact section */

#contact-section {
    height: 30vh;
    background-color: #181621;
    display: flex;
    justify-content: space-evenly;
}

#contact-section .col {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact-section .col i {
    margin-bottom: 10px;
    color: #01A3F1;
    font-size: 40px;
}

#contact-section .col h2 {
    font-weight: bold;
}

#contact-section .col p {
    margin-top: 10px;
    color: #87868E;
}

#contact-section .col h2 {
    color: white;
}

/* end contact section */


/* start about us */

#about-us-section {
    padding-top: 40px;
    background-color: #201D2E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-us-section h2 {
    font-size: 80px;
    color: white;
    margin-bottom: 50px;
}

#about-us-section ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 50px;
}

#about-us-section li {
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80px;
    margin-left: 10px;
    padding: 20px;
}

#about-us-section .active {
    background-color: #01A3F1;
}

#about-us-section p {
    width: 1000px;
    text-align: center;
    color: #87868E;
    margin-bottom: 50px;
}

#cards-container {
    display: flex;
    justify-content: space-between;
}

#cards-container .card-col {
    width: 30%;
    padding-left: 100px;
    padding-right: 100px;
}

#cards-container .card-col p {
    text-align: left;
    width: 300px;
}

#cards-container .card-col .header {
    display: flex;
    align-items: center;
}

#cards-container .card-col .header i {
    font-size: 40px;
    color: #01A3F1;
    margin-right: 5px;
}

#cards-container .card-col h3 {
    color: white;
}

/* end about us */


/* start footer */

footer {
    background-color: #181621;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer h2 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

footer p {
    color: #87868E;
    width: 600px;
    text-align: center;
    margin-top: -10px;
}

/* end footer */